@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#000000;
    --color-secundario:#F6F6F6;
    --color-terciario:#22D4FD;
    --color-hover: #272727;

    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-kronan:"Krona One", sans-serif;
}

body{
    background-color: var(--color-primario);
    color:var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 8%;

}
.header_menu{
    display: flex;
    gap: 80px;
}
.header_menu_link{
    font-family:var(--fuente-montserrat) ;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.imagen{
    width: 400px;
    height: 500px;
}

.titulo-destaque{
    color: var(--color-terciario);

}

.presentacion{
    display: flex;
    align-items: center;
    padding: 4% 8%;
    justify-content: space-between;
}

.presentacion_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.presentacion_contenido_titulo{
    font-size: 30px;
    font-family: var(--fuente-kronan);
}

.presentacion_contenido_texto{
    font-size: 18px;
    font-family:var(--fuente-montserrat);
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.presentacion_enlaces_link{

    width: 375px;
    border: 2px solid var(--color-terciario);
    text-align: center;
    align-items: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    display:flex;
    justify-content: center;
    gap:8px;
}

.presentacion_enlaces_link:hover{
    background-color: var(--color-hover);
}


.presentacion_enlaces_subtitulo{
    font-family: var(--fuente-kronan);
    font-size: 20px;
    font-weight: 400;
}

.footer{
    background-color: var(--color-terciario);
    padding: 20px;
    text-align: center;
    color: var(--color-primario);
    font-family:var(--fuente-montserrat) ;
    font-size: 18px;
}